body {
  height: 600px;
    
}
li{
  list-style: none;
  margin: 2rem 0 2rem;
  border:none
}
.title{
    display:inline-block;
    margin: 0 10px 0 0;
    font-size: 16px;
    background-color: #9ee8fc;
    color:#000000;
  }

.del_btn{
    display:inline-block;
    margin: 0;
    height: 14px;
    width: 30px;
    line-height: 11px;
    padding: 0 0;
    font-size: 10px;
    text-align: center;
    background-color: #ffe1e1;
    color: #000;
    border: solid 1px #000;
  }

  .del_btn:hover {
    background-color: rgb(250, 145, 145);
  }

  .im_btn{
    display:inline-block;
    margin: 0;
    height: 14px;
    width: 30px;
    line-height: 11px;
    padding: 0 0;
    font-size: 10px;
    text-align: center;
    background-color: #e1faff;
    color: #000;
    border: solid 1px #000;
  }
  .im_btn:hover {
    background-color: #97e8f8;
  }

  .st_btn{
    display:inline-block;
    margin: 0;
    height: 14px;
    width: 40px;
    line-height: 11px;
    padding: 0 0;
    font-size: 10px;
    text-align: center;
    background-color: #fdfdd5;
    color: #000;
    border: solid 1px #000;
  }
  .st_btn:hover {
    background-color: #fdfa48;
  }

  .memo{
    margin: 10px 0 0 0;
  }
  .save_memo{
    display:inline-block;
    margin: 0 3px;
    padding: 0 0;
    font-size: 10px;
    text-align: center;
    background-color: #d3d3d3;
    color: #000;
    border: solid 1px #000;
  }

  .save_memo:hover {
    background-color: #ffffff;
  }

  a {
    color: rgb(0, 123, 255);
  }

  a:visited {
    color: rgb(0, 123, 255);
  }

  .display_week#all {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background-color: #1998ff;
    box-shadow: 4px 4px 0 #034ed8;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 4rem;
  }

  .display_week#monday {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #fa5026;
    box-shadow: 4px 4px 0 #cd5500;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 1rem;
  }

  .display_week#tuesday {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5ff41;
    box-shadow: 4px 4px 0 #c3cd00;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 1rem;
  }
  .display_week#wednesday {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #24fbff;
    box-shadow: 4px 4px 0 #0077bb;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 1rem;

  }
  .display_week#thursday {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #17f255;
    box-shadow: 4px 4px 0 #098c2a;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 1rem;
    
  }
  .display_week#friday {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #cf28e8;
    box-shadow: 4px 4px 0 #9f0385;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 1rem;
    
  }

  .display_week#other {
    color: #151511;
    font-size: 18px;
    font-weight: bold;
    background-color: #9e9e9e;
    box-shadow: 4px 4px 0 #424242;
    padding: 0.5rem 1rem;

    margin: 2rem 0rem 2rem;
    
  }

  .display_time {
    color: #151511;
    font-size: 12px;
    font-weight: bold;
    background-color: #d7d7d7;
    box-shadow: 4px 4px 0 #737373;
    padding: 0rem 0.5rem;

    margin: 2rem 0rem 1rem;
  }

  .class_none{

    border: solid 3px #3A546F;
    padding: 2rem 1rem;
    background-color: #ffffff

  }

  .title_week#other{
    padding: 0rem 0rem 4rem;
  }

  